In [1]:
#Control Structure: Loops
#Loops are used to execute bodies of code based on a condition
#Examples are For, WHile and Do while loops

In [2]:
#For loops iterate over a certain sequence until a condition is satisfied
#While loops iterate over a block of code until the condition is satisfied

In [3]:
for i in range(0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [4]:
for i in range(0, 10, 2):
  print(i)

0
2
4
6
8

In [5]:
#Looping on a string
my_string = "Jingle Bell Jingle All the way"

for alphabet in my_string:
  print(alphabet)

J
i
n
g
l
e

B
e
l
l

J
i
n
g
l
e

A
l
l

t
h
e

w
a
y

In [6]:
s1 = ''
for i in range(0,9):
  if i<5:
    s1 += '* '
    print(s1)
  elif i>4:
    s1 = s1[:-2]
    print(s1)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [7]:
string1 = "Jingle Bell Jingle Bell All the way"

for n,letter in enumerate(string1):
  print(n,letter)

0 J
1 i
2 n
3 g
4 l
5 e
6
7 B
8 e
9 l
10 l
11
12 J
13 i
14 n
15 g
16 l
17 e
18
19 B
20 e
21 l
22 l
23
24 A
25 l
26 l
27
28 t
29 h
30 e
31
32 w
33 a
34 y

In [8]:
import string
vowels = ''
for letter in string1:
  if letter in 'aeiou':
    vowels += ' ' + letter
print(vowels)

 i e e i e e e a

In [9]:
'''
n = '870098237'
even =''
odd = ''
for i in n:
  if int(i)%2==0:
    even += 1
  else:
    odd +=1

print('Evens are: '+even+' odds are: '+ odd)'''

n = '870098237'
even = ''
odd = ''

for i in n:
    if int(i) % 2 == 0:
        even += str(i)
    else:
        odd += str(i)

print('Evens are: ' + even + ' odds are: ' + odd)

Evens are: 80082 odds are: 7937

In [10]:
list_of_inventories = ['Apple', 'Banana', 'Potato', 'Mango', 'Onion', 'Toothpaste']
fruits = ['Apple', 'Banana', 'Mango', 'Orange', 'Strawberry']
vegetables = ['Potato', 'Onion', 'Cucm=umber', 'Celery']

In [11]:
#Count of the fruits in inventory list
count_fruits = 0
#count of vegetables in inventory list
count_veg = 0
for item in list_of_inventories:
  print(item)
  if item in fruits:
    count_fruits+=1
  elif item in vegetables:
    count_veg += 1
  else:
    continue
print(count_fruits)
print(count_veg)

Apple
Banana
Potato
Mango
Onion
Toothpaste
3
2

In [12]:
sentence = "Is Python simpler than R?"
for word in sentence.split():
  print(word)

Is
Python
simpler
than
R?

In [13]:
#sentence check
tweet = "#Beautiful morning it is looking good"

for word in tweet.split():
    if word.startswith('#'):
        print(word[1:])

Beautiful

In [14]:
students_data = {1:['Shivan Bansal', 24], 2:['Udit Bansal', 25], 3:['Sonam Gupta', 26], 4:['Saif Ansari', 24], 5:['Huzefa Ca;lcuttawa', 27]}

In [15]:
for key,val in students_data.items():
    print(key, val)

1 ['Shivan Bansal', 24]
2 ['Udit Bansal', 25]
3 ['Sonam Gupta', 26]
4 ['Saif Ansari', 24]
5 ['Huzefa Ca;lcuttawa', 27]

In [18]:
for key in students_data.keys():
    print(key)

1
2
3
4
5

In [19]:
for val in students_data.values():
    print(val)

['Shivan Bansal', 24]
['Udit Bansal', 25]
['Sonam Gupta', 26]
['Saif Ansari', 24]
['Huzefa Ca;lcuttawa', 27]

In [20]:
count = 0
for key,val in students_data.items():
    if val[1]<25:
        count+=1

print(count)

2

In [25]:
#while loop
start = 20
total = 0

while start<51:
    total+=start
    start+=1
    print(start)
    
print(total)

21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
1085